section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    a(href='https://www.facebook.com/mylibs')
      div(class="glyph-icon flaticon-facebook3")
    a(href='https://www.linkedin.com/in/kyoungil-lee-5bb2539b/')
      div(class="glyph-icon flaticon-linkedin")
    a(href='https://github.com/LeeKyoungIl')
      div(class="glyph-icon flaticon-github")
    //a(href='https://www.youtube.com')
    //  div(class="glyph-icon flaticon-youtube31")

  hr.bar

  a( class='biglink' href='mailto:leekyoungil@gmail.com') leekyoungil@gmail.com
