### Compiled class file ###
*.class

### Log file ###
*.log

### BlueJ files ###
*.ctxt

### Mobile Tools for Java (J2ME) ###
.mtj.tmp/

### Package Files ###
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml ###
hs_err_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.clover

### BUILD ###
target/
bin/
deploy/
**/min/

### TMP ###
*.tmp

### TEST ###
logs
resultJson
resultImage
jsonForDebug
tmp

._*

## MacOS
*.DS_Store
.bundle
.sass-cache
node_modules
package.json

## Jekyll stuff
/_site/
_site/
.sass-cache/
.jekyll-metadata
.jekyll
Gemfile
Gemfile.lock
https://gmlwjd9405.github.io/2017/10/06/Jekyll-github.io-blog-3.html