<section>
    <h2 id="about-me">About Me</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>I have started my career as a application developers in 2008. Since then I have worked at various size of
            companies, startups to large enterprise and expanded my skill sets to include application developers, and
            system engineer. I am a passionate professional person who believes in importance of interactions between
            different roles at work. Trying to understand how operations work helped me to build better applications and
            I encourage my co-workers to understand the underlying infrastructures and systems in order to meet
            efficiency and pace of ever changing environment. I participate in various user groups, to learn about
            emerging technology trends and learn from other developers / architects / operators.</p>
    </div>
    <div class="skill-lock"></div>
</section>